<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Html Layouts</title>
  </head>
  <body>
    <header class="border-primary text-center">
      <h2>&lt;header&gt;</h2>
    </header>

    <nav class="border-primary text-center">
      <h2>&lt;nav&gt;</h2>
    </nav>
    <main>
      <div class="content">
        <section class="border-primary">
          <h2>&lt;section&gt;</h2>
        </section>

        <article class="border-primary">
          <h2>&lt;article&gt;</h2>
        </article>
      </div>

      <aside class="border-primary">
        <h2>&lt;aside&gt;</h2>
      </aside>
    </main>

    <footer class="border-primary text-center">
      <h2>&lt;footer&gt;</h2>
    </footer>
  </body>
</html>
